{% extends 'shared/base.html' %}
{% block content %}
<h1>Departments</h1>
    <form action="{% url 'hrapp:department_list' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="dept_name">Department Name: </label>
          <input id="dept_name" type="text" name="dept_name">
      </fieldset>
      <fieldset>
          <label for="budget">Department Budget: </label>
          <input id="budget" type="number" step="any" name="budget">
      </fieldset>
     
      <input type="submit" value="Add Department" />
    </form>
{% endblock %}

