{% extends 'shared/base.html' %}

{% block content %}
<h1>Departments</h1>

<a href="{% url 'hrapp:department_form' %}">Add Department</a>
<ol>
{% for department in all_departments %}
   {% if department.count == 1 %}
   <li>
        <p><a href=" {% url 'hrapp:department_details' department.id %}">{{ department.dept_name }}</a> has {{department.count}} employee.</p>
    </li>
   {% else %}
    <li>
        <p><a href=" {% url 'hrapp:department_details' department.id %}">{{ department.dept_name }}</a> has {{department.count}} employees.</p>
    </li>
    {% endif %}
{% endfor %}
</ol>
{% endblock content %}
