{% extends 'shared/base.html' %}

{% block content %}
    <section id="training-details">
        <h1>{{ training.title }}</h1>
        <h3>{{ training.description }}</h3>

        <p>Starts: {{ training.start_date }}</p>
        <p>Ends: {{ training.end_date }}</p>
        <p>Max capacity: {{ training.capacity }}</p>
    </section>

    {% if user.is_authenticated %}
    <section id="training-actions">
        <form action="{% url 'hrapp:training' training.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete</button>
        </form>

        <form action="{% url 'hrapp:training_edit_form' training.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
        </form>
    </section>
    {% endif %}

{% endblock content %}