{% extends 'shared/base.html' %}

{% block content %}
  <h1>Add / Update Training Program</h1>

      <form action="{% url 'hrapp:trainings_list' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="title">Title: </label>
          <input id="title" type="text" maxlength="50" name="title" value="{{ training.title }}">
      </fieldset>
      <fieldset>
          <label for="description">Description: </label>
          <input id="description" type="text" maxlength="200" name="description" value="{{ training.description }}">
      </fieldset>
      <fieldset>
          <label for="start_date">Start Date: </label>
          <input id="start_date" type="date" name="start_date" value="{{ training.start_date }}">
      </fieldset>
      <fieldset>
          <label for="end_date">End Date: </label>
          <input id="end_date" type="date" name="end_date" value="{{ training.end_date }}">
      </fieldset>
      <fieldset>
          <label for="capacity">Max Capacity: </label>
          <input id="capacity" type="number" name="capacity" value="{{ training.capacity }}">
      </fieldset>

      {% if training.id is not None %}
          <input type="hidden" name="actual_method" value="PUT">
          <input type="submit" value="Update" />
      {% else %}
          <input type="submit" value="Create" />
      {% endif %}

  </form>
{% endblock %}